.main-header {
    color: black;
    width: 100%;
    height: 400px;
    background-image: url('./images/header.webp');
    background-size: cover;
    background-position: 18%;
    display: flex;
    flex-direction: column;
}

.main-header>nav {
    display: grid; 
    grid-template-columns: repeat(12, 1fr);
    height: 80px;
    padding-top: 15px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    padding-bottom: 50px;
    transition: background 0.4s;
}

.navbar-color-change {
    background-color: rgba(255, 128, 139,0.8); 
    backdrop-filter: blur(3px);
  }

.menu {
    grid-column: 4/ 13;
    width: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(8, 1fr);

}

.main-header button {
    background: none;
    width: 125px;
    border-radius: 20px;
    border: none;
    font-size: 14px;
    font-weight: 500;
    font-family: inherit;
    color: white;
    line-height: 1.5;
    cursor: pointer;
    transition: border-color 0.25s;
}

.main-header button:hover {
    text-shadow: 1px 1px 9px rgba(0, 0, 0, 1);
}


.main-header button.remark {
    color: #1d4289;
    background-color: white;
    padding: 8px 3px 5px 3px;
    width: 125px;
    margin: 0 10px;
}

.main-header button.remark:hover {
    background-color: #1d4289;
    color: white;
}


.logo {
    grid-column: 1 / 3;
    width: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
}

.logo>img {
    max-width: 150px;

}

header>.text {
    height: 100%;
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    width: 40%;
    margin-left: 70px;
    font-size: 27px;
    max-width: 400px;
}

header>.text>h2 {
    line-height: 50px;
}

.main-header button.hero {
    color: white;
    background-color: #1d4289;
    padding: 9px 4px 6px 4px;
    width: 200px;
    margin-top: 15px;
}

.main-header button.hero:hover {
    background-color: #ff808b;
    color: #1d4289;
}




@media (max-width: 1250px) {
    .menu>button.tab {
        display: none
    }

    .menu {
        display: flex;
        justify-content: end;
        gap: 8px;
        margin-right: 20px;
    }
}