
  .slick-slider {
    width: 1200px;
    
  }
  
.titleVideoCarousel{
font-size: 21px;
text-align: center;
width: 80%;
color: #ff808b;

}
.subTitleVideoCarousel{
  font-size: 12px;
text-align: center;
width: 80%;
color: #1d4289;
margin-top:20px
}

div > iframe {
  border:none;
}
 
.slick-prev{
left:-60px;
transform: scale(2.5);
}

.slick-next{
  right:-60px;
  transform: scale(2.5);
}

.slick-prev:before, .slick-next:before {
  color: #1d4289;
}