.containerpopup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* fondo semi-transparente */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .popup {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* sombra */
    position: relative;
  }
  
  .confirmationpopup {
    margin-bottom: 10px;
  }
  
  .button-containerpopup {
    display: flex;
    justify-content: center;
  }
  
  .buttonpopup {
    padding: 8px 16px;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .buttonAcceptpopup {
    background-color: #4caf50;
    color: white;
  }
  
  .buttonRejectpopup {
    background-color: #f44336;
    color: white;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
  