.fechaProfileUser{
    color: white;
    background-image: linear-gradient(to right, #1d4289, #ff808b);
    padding: 9px 4px 6px 4px;
    width: 250px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    transition: opacity 0.6s;
    list-style: none;
    margin-bottom: 10px;
 
}
.fechaProfileUser::-webkit-details-marker {
    display: none;
  }
  

.fechaProfileUser:hover {
    opacity: .8;
}
