*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
  }
  
  .searchBarTitle{
    margin: 10px 70px 70px;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #ff808b;
    padding: 30px 0;
  }
  
  .button {
    margin: 10px 70px 70px;
    padding: 10px;
  }
  
  .search {
    padding: 10px;
    font-size: 14px;
  }
  /* Table Styles */
  

.table {
    margin: 15vh 30px 30px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 40%;
    max-width: 90%;
    white-space: nowrap;
    background-color: white;
    font-family: inherit;
  }
  
  .table td, .table th {
    text-align: center;
    padding: 8px;
  }

  .listData td {
    font-family: inherit;
  }
  
  .table td {
    border-right: 1px solid #f8f8f8;
    font-size: 14px;
    font-family: inherit;
  }
  
  .table thead th {
    color: #1d4289;
    
  }
  
  
  .table thead th:nth-child(odd) {
    color: #1d4289;
    
  }
  
  .table tr:nth-child(even) {
    background: #F8F8F8;
  }

  .trashIcon {
    margin-right: 15px; 
    padding-right: 10px;
    color: red;
  }

  .fa-solid-fa-user-pen {
    padding-left: 10px;
    color: #1d4289;
  }

  .tIcons 
  
  
  .fa-solid.fa-user-pen {
    margin-left: 7px; 
    margin-right: 5px; 
  }
  

  .table tbody tr:nth-child(odd) td{
    background-color: #f2f2f2; /* Color gris claro */
  }

  .pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
  }


  /* Cambiar el color del texto de los elementos de paginación */
.page-link {
  color: #ff808b; /* Color de texto normal */
}

.page-item {
  color: #ff808b;
}

.page-link:hover {
  color: #fff; /* Color de texto al pasar el cursor */
}

/* Cambiar el color de fondo del elemento de página activa */
.page-item.active .page-link {
  background-color: #1d4289; /* Color de fondo del elemento activo */
  border-color: #1d4289; /* Color del borde del elemento activo */
}

/* Cambiar el color de fondo de los elementos de paginación al pasar el cursor */
.page-item:hover .page-link {
  background-color: #ff808b; /* Color de fondo al pasar el cursor */
}

 

  
  /* Responsive */
  
  @media (max-width: 767px) {
    .table {
        display: block;
        width: 100%;
    }
    .container:before{
        content: "Scroll horizontally >";
        display: block;
        text-align: right;
        font-size: 11px;
        color: white;
        padding: 0 0 10px;
    }
    .table thead, .table tbody, .table thead th {
        display: block;
    }
    .table thead th:last-child{
        border-bottom: none;
    }
    .table thead {
        float: left;
    }
    .table tbody {
        width: auto;
        position: relative;
        overflow-x: auto;
    }
    .table td, .table th {
        padding: 20px .625em .625em .625em;
        height: 60px;
        vertical-align: middle;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: auto;
        width: 120px;
        font-size: 13px;
        text-overflow: ellipsis;
    }
    .table thead th {
        text-align: left;
        border-bottom: 1px solid #f7f7f9;
    }
    .table tbody tr {
        display: table-cell;
    }
    .table tbody tr:nth-child(odd) {
        background: none;
    }
    .table tr:nth-child(even) {
        background: transparent;
    }
    .table tr td:nth-child(odd) {
        background: #F8F8F8;
        border-right: 1px solid #E6E4E4;
    }
    .table tr td:nth-child(even) {
        border-right: 1px solid #E6E4E4;
    }
    .table tbody td {
        display: block;
        text-align: center;
    }
  }