.signup {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15.5px 20px;
    background-color: #ff808b;
    color: white;
    
  }
  
  .logoLog img {
    width: 150px; 
    height: auto;
    margin-left: 38px; 
  }
  
  .signupnav {
    display: flex;
    justify-content: space-between;
    width: 100%; /* Ocupar todo el ancho disponible */
    align-items: center; 
  }
  
  .logMenu {
    display: flex;
  }
  
  .logMenu button {
    background: white;
    border-radius: 20px;
    border: 1px solid transparent;
    font-size: 14px;
    font-weight: 500;
    font-family: inherit;
    color: #1d4289;
    line-height: 1.5;
    cursor: pointer;
    transition: border-color 0.25s;
    padding: 8px 3px 5px 3px;
    width: 125px;
    margin-right: 15px;
  }
  
  .logMenu button:hover {
    background-color: #1d4289;
    color: white;
  }
  