/* #root {
  width: 100%;
  height: 100vh;
  font-family: 'Comfortaa';
} */

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

@font-face {
  font-family: 'Comfortaa';
  src: local('Comfortaa'), url('./assets/fonts/Comfortaa-Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Comfortaa',inherit, sans-serif;
}
